.parallax-container{
  background-image: url('../../assets/images/car.jpg');
  height: 700px;
  background-size: cover;
  padding-top: 50px;
  color: #ffff;
}
.container{
  width: 95%;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.397);
}
#download-button{
  margin: 10px 10px 10px 10px;
}

.body-4{
  height: 600px;;
}
.icon-block img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.content-shrink{
  padding:0px 150px;
}
.page-footer{
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  background: #26a69a;
  padding:100px 0px 10px 0px;
  color: #ffff;
}
.list-unstyled li a{
  color: #ffff;
}
.social-icons > a{
  margin-left:5px;
  font-size: 30px;
}

