<app-navbar></app-navbar>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Miles to Smiles :)</h1>
      <div class="row center">
        <h5 class="header col s12 light">Book Unforgettable Cars from us!</h5>
      </div>
      <div class="row center">
        <a [routerLink]="['/cars']" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Rent A Car</a>
        <a [routerLink]="['/listCar']" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">List A Car</a>
      </div>
      <br><br>

    </div>
  </div>
</div>

<div class="container">
  <h4 class="header center teal-text light">Where we exist</h4>
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
       

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/images/Colombo.jpg">
            <span class="card-title">Colombo</span>
          </div>
          <div class="card-content">
            <p class="light">That heritage is reflected in its its architecture, mixing colonial buildings with high-rises and shopping malls.</p>
          </div>
          <div class="card-action">
            <a href="#">Book Now</a>
          </div>
        </div>
      </div>
  
      <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="../../assets/images/Kandy.jpg">
              <span class="card-title">Kandy</span>
            </div>
            <div class="card-content">
              <p class="light">Kandy, nominated by the UNESCO as a world heritage city, is of fascinating variety In climate and landscape, and rich cultural heritage.</p>
            </div>
            <div class="card-action">
              <a href="#">Book Now</a>
            </div>
          </div>
        </div>
    

        <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="../../assets/images/Galle.jpg">
                <span class="card-title">Galle</span>
              </div>
              <div class="card-content">
                <p class="light">The seaside town of Galle is 116 Km away from Colombo by road or rail, down the south coast of Sri Lanka.</p>
              </div>
              <div class="card-action">
                <a href="#">Book Now</a>
              </div>
            </div>
          </div>
      
      </div>

    </div>
  </div>


  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">SL Rent A Car Services</h5>
            <p class="grey-text text-lighten-4">Renting Cars made simple!</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Contact Us</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" >+94 777 123 123</a></li>
              <li><a class="grey-text text-lighten-3" >slrent@gmail.com</a></li>
              <li><a class="grey-text text-lighten-3">facebook.com/slrent</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2019 Copyright Advanced Web Module
        <a class="grey-text text-lighten-4 right" href="#!">Group #24</a>
        </div>
      </div>
    </footer>
        

