<div class="rows">
<div class="container row">
  <div class="col s12">
    <div class="card z-depth-2">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s12">
      <form [formGroup]="registerForm" (ngSubmit)="addUser()">
          <div class="row">
              <ul class="tabs teal">
                  <li class="tab col s12"><a class="white-text active" href="#login">Register</a></li>
                  </ul>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <label for="inputFname">Name</label>
                <input type="text" class="form-control" id="inputFname"  formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="red-text light">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4"  formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email?.errors['required']" class="red-text light">Email is required</div>
                  <div *ngIf="f.email.errors.email" class="red-text light">Email must be a valid email address</div>
              </div>
            </div>
          </div>
            <div class="row">
                <div class="input-field col s12">
                  <label for="inputPassword4">Password</label>
                  <input type="password" class="form-control" id="inputPassword4"  formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required" class="red-text light">Password is required</div>
                      <div *ngIf="f.password.errors.minlength" class="red-text light">Password must be atleast 6 characters long</div>
                  </div>  
                </div>
            </div>
       
          <div class="row">
              <div class="input-field col s12">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress"  formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required" class="red-text light">Address is required</div>
            </div>
          </div>
        </div>

          <div class="row">
            <div class="input-field col s12">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity"  formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
              <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                  <div *ngIf="f.city.errors.required" class="red-text light">City is required</div>
              </div>
            </div>
            
          </div>
          <div class="row">
              <div class="input-field col s6">
                <label for="inputPhone">Phone Number</label>
                <input type="text" class="form-control" id="inputPhone"  formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required" class="red-text light">Phone is required</div>
                </div>
              </div>
              <div class="input-field col s6">
                <button class="btn btn-custom" (click)="openDialog()" >Verify</button>
                <div *ngIf="isNotVerified" class="red-text light">Verification Failed</div>
                <div *ngIf="isVerified" class="green-text light">Verification Successful!</div>
              </div>
              
            </div>

          <div class="row">
            <div class="input-field col s12">
                <label>
                    <input type="checkbox"   id="gridCheck" formControlName="alerts" [ngClass]="{ 'is-invalid': submitted && f.alerts.errors }" />
                    <span>I agree to terms and conditions</span>
                  </label>
              
            </div>
            <div *ngIf="submitted && f.alerts.errors" class="invalid-feedback">
                  <div *ngIf="f.alerts.errors.required" class="red-text light">Please accept the terms and conditions!</div>
              </div>
          </div>
         
            <div class="row">
              <div class="input-field col s12">
                <button class="btn btn-custom left" type="submit" >Sign Up</button>
              </div>
            </div>
          <div class="form-group">
              <label>Already have an account? <a [routerLink]="['/']" >Login here</a></label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</div>