<app-navbar></app-navbar>
<br>
<br>
<br>
<table class="responsive-table highlight">
  <thead>
    <th>Car Name</th>
    <th>Year</th>
    <th>Price Per Day</th>
    <th>Description</th>
    <th>Features</th>
    <th>Daily Distance</th>
    <th>Fuel Type</th>
    <th>Door Count</th>
    <th>Seat Count</th>
    <th>Address</th>
    <th>City </th>
    <th>Zip</th>
    <th></th>
    <th></th>
    
  </thead >
  
  <tbody>
    <tr *ngFor="let car of cars">
      <td >{{car.carName}}</td>
      <td>{{car.carYear}}</td>
      <td>{{car.carPrice}}</td>
      <td>{{car.description}}</td>
      <td>{{car.features}}</td>
      <td>{{car.dailyDistance}}</td>
      <td>{{car.fuelType}}</td>
      <td>{{car.doorCount}}</td>
      <td>{{car.seatCount}}</td>
      <td>{{car.address}}</td>
      <td>{{car.city}}</td>
      <td>{{car.zip}}</td>
      <td><a class="btn text-danger" (click)="onEdit(car,car._id)"><i class="fa fa-pencil"></i></a></td>
      <td><a class="btn text-danger" (click)="onDelete(car._id)"><i class="fa fa-trash"></i></a></td>
      
    
  </tbody>
</table>