.container
{
	width: 600px;
	height: 600px;
	
}
.rows{
  background-image:url("../../assets/images/HomePageBackround.jpg");background-repeat:no-repeat; background-position:center; background-size:cover;height: 800px;width: 100%;padding-top:50px;
}