<app-navbar></app-navbar>
<div class="rows">
<div class="container row">
  <div class="col s12">
    <div class="card z-depth-2">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s12">
      <form [formGroup]="registerForm" (ngSubmit)="addCar()">
          <div class="row">
              <ul class="tabs teal">
                  <li class="tab col s12"><a class="white-text active" href="#home">List a car</a></li>
                  </ul>
          </div>
          <div class="row">
              <div class="input-field col s12">
                <label for="inputCarName">Car Model Name</label>
                <input type="text" class="form-control is-invalid" id="inputCarName"  formControlName="carName" placeholder="Car Name"  [ngClass]="{ 'is-invalid': submitted && f.carName.errors }"[(ngModel)]="oldCar.carName" required>
                <div *ngIf="submitted && f.carName.errors" class="invalid-feedback">
                  <div *ngIf="f.carName.errors.required">Car Name is required</div>
                </div>
                
              </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="inputCarYear">Car Model Year</label>
              <input type="text" class="form-control" id="inputCarYear"  formControlName="carYear" placeholder="Car Year" [ngClass]="{ 'is-invalid': submitted && f.carYear.errors }" [(ngModel)]="oldCar.carYear" required>
              <div *ngIf="submitted && f.carYear.errors" class="invalid-feedback">
                <div *ngIf="f.carYear.errors.required">Car Year is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="inputCarPrice">Car Rental Price Per Day</label>
              <input type="number" class="form-control" id="inputCarPrice" formControlName="carPrice" placeholder="Car Price" [ngClass]="{ 'is-invalid': submitted && f.carPrice.errors }" [(ngModel)]="oldCar.carPrice" required>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.carPrice.errors.required">Rental Price is required</div>
                <div *ngIf="f.carPrice.errors.pattern">Rental Price should be Number</div>
              </div>  
            </div>
          </div>
       
          <div class="row">
            <div class="input-field col s12">
              <label for="inputCarDes">Description</label>
              <input type="text" class="form-control" id="inputCarDes" formControlName="carDescription" placeholder="Description" [ngClass]="{ 'is-invalid': submitted && f.carDescription.errors }"  [(ngModel)]="oldCar.description" required>
              <div *ngIf="submitted && f.carDescription.errors" class="invalid-feedback">
                <div *ngIf="f.carDescription.errors.required">Car description is required</div>
              </div>  
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <label for="inputCarFea">Features</label>
              <input type="text" class="form-control" id="inputCarFea" formControlName="carFeatures" placeholder="Features" [ngClass]="{ 'is-invalid': submitted && f.carFeatures.errors }"  [(ngModel)]="oldCar.features" required>
              <div *ngIf="submitted && f.carFeatures.errors" class="invalid-feedback">
                <div *ngIf="f.carFeatures.errors.required">Car feature is required</div>
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="inputDailyDistance">Daily Distance</label>
              <input type="number" class="form-control" id="inputDailyDistance" formControlName="carDailyDistance" placeholder="Daily Distance" [ngClass]="{ 'is-invalid': submitted && f.carDailyDistance.errors }"  [(ngModel)]="oldCar.dailyDistance" required>
              <div *ngIf="submitted && f.carDailyDistance.errors" class="invalid-feedback">
                <div *ngIf="f.carDailyDistance.errors.required">Car feature is required</div>
                <div *ngIf="f.carDailyDistance.errors.pattern">Daily diatance should be Number</div>
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="inputFuelType">Fuel Type</label>
              <input type="text" class="form-control" id="inputFuelType" formControlName="carFuelType" placeholder="Fuel Type" [ngClass]="{ 'is-invalid': submitted && f.carFuelType.errors }"  [(ngModel)]="oldCar.fuelType" required>
              <div *ngIf="submitted && f.carFuelType.errors" class="invalid-feedback">
                <div *ngIf="f.carFuelType.errors.required">Fuel Type is required</div>
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="inputDoorCount">Door Count</label>
              <input type="number" class="form-control" id="inputDoorCount" formControlName="carDoorCount" placeholder="Door Count" [ngClass]="{ 'is-invalid': submitted && f.carDoorCount.errors }" [(ngModel)]="oldCar.doorCount" required>
              <div *ngIf="submitted && f.carDoorCount.errors" class="invalid-feedback">
                <div *ngIf="f.carDoorCount.errors.required">Door count is required</div>
                <div *ngIf="f.carDoorCount.errors.pattern">Door count should be Number</div>
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="inputSeatCount">Seat Count</label>
              <input type="number" class="form-control" id="inputSeatCount" formControlName="carSeatCount" placeholder="Seat Count" [ngClass]="{ 'is-invalid': submitted && f.carSeatCount.errors }"  [(ngModel)]="oldCar.seatCount" required>
              <div *ngIf="submitted && f.carSeatCount.errors" class="invalid-feedback">
                <div *ngIf="f.carSeatCount.errors.required">Seat count is required</div>
                <div *ngIf="f.carSeatCount.errors.pattern">Seat count should be Number</div>
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" formControlName="address" placeholder="Apartment, studio, or floor" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"  [(ngModel)]="oldCar.address" required>
              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="inputCarCity">City</label>
              <input type="text" class="form-control" id="inputCarCity" formControlName="city" placeholder="City" [ngClass]="{ 'is-invalid': submitted && f.city.errors }"  [(ngModel)]="oldCar.city" required>
              <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">City is required</div>
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="inputCarState">State</label>
              <input type="text" class="form-control" id="inputCarState" formControlName="state" placeholder="State" [ngClass]="{ 'is-invalid': submitted && f.state.errors }"  [(ngModel)]="oldCar.state" required>
              <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                <div *ngIf="f.state.errors.required">State is required</div>
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="inputzip">Zip</label>
              <input type="number" class="form-control" id="inputZip" formControlName="zip" placeholder="Zip Code" [ngClass]="{ 'is-invalid': submitted && f.zip.errors }"  [(ngModel)]="oldCar.zip" required>
              <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
                <div *ngIf="f.zip.errors.required">Zip is required</div>
                <div *ngIf="f.zip.errors.pattern">Zip should be Number</div>
              </div>  
            </div>
          </div>
         
          <div class="row">
            <div class="input-field col s12">
              <div><label for="inputImage">Add Image</label></div>
              <br>
              <div><input type="file" class="form-control" id="inputImage" (change)="onFileUpload($event)" ></div>
               
            </div>
          </div>
          <div class="row">
              
              <div class="input-field col s12">
                  <button class="btn btn-custom left" type="submit">Add</button>
              </div>
            </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>

