.rows{
  background-image:url("../../assets/images/HomePageBackround.jpg");background-repeat:no-repeat; background-position:center; background-size:cover;height: 800px;width: 100%;padding-top:50px;
}

.row{
	margin-bottom: 10px;
}

.container {
	 width: 95%;
}