<app-navbar></app-navbar>
<div id="index-banner" class="parallax-container">
<div class="container">
          <div class="row">
                  <div class="col s12">
                    <div class="card">
                      <div class="card-content">
                              
                              <form (ngSubmit)="payment()" [formGroup]="paymentForm" role="form" id="payment-form">
                                      <div class="row">
                                              <ul class="tabs teal">
                                                  <li class="tab col s12"><a class="white-text active" href="#login">Payment</a></li>
                                                  </ul>
                                          </div>
                                      <div class="row">
                                      <div class="col s12">
                                      <div class="form-group">
                                      <label for="cardNumber">CARD NUMBER</label>
                                      <div class="input-group">
                                      <input formControlName="card"
                                      type="number"
                                      class="form-control"
                                      name="cardNumber"
                                      placeholder="Valid Card Number"
                                      autocomplete="cc-number"
                                      required autofocus
                                      />
                                      <div *ngIf="submitted && f.card.errors.required" class="red-text light">Card Number is required</div>
                                      <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                      </div>
                                      </div>
                                      </div>
                                      </div>
                                      <div class="row">
                                      <div class="col s7">
                                      <div class="form-group">
                                      <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                      <input formControlName="exp"
                                      type="tel"
                                      class="form-control"
                                      name="cardExpiry"
                                      placeholder="MM / YY"
                                      autocomplete="cc-exp"
                                      required
                                      />
                                      <div *ngIf="submitted && f.exp.errors.required" class="red-text light">Expiry Date is required</div>
                                      </div>
                                      </div>
                                      <div class="col s5 col m5 pull-right">
                                      <div class="form-group">
                                      <label for="cardCVC">CV CODE</label>
                                      <input
                                      formControlName="cvc"
                                      type="tel"
                                      class="form-control"
                                      name="cardCVC"
                                      placeholder="CVC"
                                      autocomplete="cc-csc"
                                      required
                                      />
                                      <div *ngIf="submitted && f.cvc.errors.required" class="red-text light">CVC is required</div>
                                      </div>
                                      </div>
                                      </div>
                                      <div class="row">
                                      <div class="col s12">
                                      <div class="form-group">
                                      <label for="couponCode">COUPON CODE</label>
                                      <input type="text" class="form-control" name="couponCode" />
                                      </div>
                                      </div>
                                      </div>
                                      <div class="row">
                                      <div class="col s12">
                                      <button class="btn btn-custom col s4" type="submit" >Pay</button>
                                              
                          <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        
                                      </div>
                                      </div>
                                      <div class="row" style="display:none;">
                                      <div class="col s12">
                                      <p class="payment-errors"></p>
                                      </div>
                                      </div>
                                      
                                      </form>
                                      
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>
                   
                </div>



       

