<div class="rows">
  <div class="container row">
      <div class="col s12">
        <div class="card z-depth-2">
          <div class="card-content white-text">
            <div class="row">
              <div class="col s12">
        <form id="get-reset-code">
            <div class="row">
                <ul class="tabs teal">
                    <li class="tab col s12"><a class="white-text active" >Get Code</a></li>
                    </ul>
            </div>
            <!-- <p>
                <ngb-alert *ngIf=status type="danger">
                  {{status}}
                </ngb-alert>
              </p> -->
  
              <div class="row">
                  <div class="input-field col s12">
                <input type="email" class="form-control" name ="email" ngModel id="email" placeholder="Email Address">
            </div>
            <!-- <label for="inputPhone">Phone Number</label>
            <input type="text" class="form-control" id="inputPhone"  formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
             -->
            <!-- <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required" class="red-text light">Phone is required</div>
            </div> -->
            </div>
  

        <div class="row">
            <div class="input-field col s12">
            <button type="submit" class="btn right" [routerLink]="['/resetpassword']">Send Code</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>